*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: Chandas;*/
}
body{
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background-color:lightblue;
    color: white;
}
.form{
    width: 420px;
    background-color:darkgreen;
    border:2px solid white;
    border-radius: 10px;
    padding: 30px 40px;
}
.form h1{
    text-decoration: dotted underline;
    color: blue;
    font-size: 20px;
    text-align: center;
    font-family: Sahadeva;
}
.form .inputbox{
    position: relative;
    width:100%;
    height: 50px;
    margin: 30px 0;
    /*background-color: black;*/
}
.inputbox input{
    width: 100%;
    height: 50%;
    border:2px solid black;
    background: transparent;
    border-radius: 15px;
    outline:none;
    color: white;

}
.inputbox input::placeholder{
    color: white;
    /*background-color: crimson;*/
    /*font-family: Dialog;*/
}
.form .btn button{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow:darkgreen;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    color:blue;
}